body {
    font-size: 12px;
}
.list-panel {
    height: 95vh;
    overflow: auto;
}
.item-url {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
pre.header {
    height: 25vh;
    overflow: auto;
}
pre.body {
    height: 45vh;
    overflow: auto;
}
img {
    width: 100%;
}
pre.proxy {
    height: 10vh;
    overflow: auto;
}
.nav {
    height: 30px;
}
.nav-item {
    display: inline-block;
    margin: 3px 20px;
}
#item {
    white-space: nowrap;
}
#item tr {
    cursor: pointer;
}
pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}
.string {
    color: green;
}
.number {
    color: darkorange;
}
.boolean {
    color: blue;
}
.null {
    color: magenta;
}
.key {
    color: red;
}
